body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    font-size: 8vw;
}

h3 {
    font-size: 3vw;
    
}


a {
    text-decoration: underline;
    color: #fff;
}

footer {
    margin: 0 auto;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    bottom: 2em;
    font-size: 1.5rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
